* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Varela Round', arial, sans-serif;
    background-color: black;
    color: white;
}

.marquee {
    width: 225px;
    margin: 10px auto;
}

.marquee marquee {
    font-size: 35px;
}

.container {
    margin-left: 40px;
}

.container > * {
    margin: 30px;
}

.container p, a {
    margin: 0;
}

p {
    font-size: 35px;
}

a {
    text-decoration: none;
    color: grey;
}

@media (max-width: 800px) {

    .container {
        background-color: red;
        width: 80%;
        margin: auto;
    }
}
