.container {
    width: 70%;
    background-color: lightgrey;
    margin: 10px auto;
}

.header {
    font-family: arial, sans-serif;
    font-size: 200%;
    width: 200px;
    margin: 0px auto;
}

.content {
    padding-left: 10px;
    padding-bottom: 12px;
}

.content p {
    font-size: 20px;
}

.content a {
    text-decoration: none;
}
